<!DOCTYPE html>
<html>
  <head>
    <title>GreenHood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
    <script type="text/javascript">
      window.navLogo = "<%= image_url('logo.jpg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
